:root {
  --primary: #f5f5f5;
  --secondary: #f05454;
  --font: #121212;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  background-color: var(--primary);
  font-family: "Libre Baskerville", serif;
}
/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  background: #f5f5f5;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbarlogo {
  font-size: 2rem;
  color: var(--font);
  align-items: center;
}
.navbarmenu a {
  color: var(--font);
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
  padding: 5px 10px;
}
.navbarlogo span {
  color: var(--secondary);
}
.navbaricon a {
  color: var(--font);
  width: 7rem;
  margin: 0 0.5rem;
}
.navbaricon a:hover {
  color: var(--secondary);
}
#ham-menu {
  display: none;
}
.navbarmenu a:hover {
  color: #ce5959;
}

.navbarmenu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ce5959;
  transform: scaleX(0);
}
.navbarmenu a:hover::after {
  transform: scaleX(0.5);
  transition: all 0.38s ease;
}
.navbar.sticky {
  background: #f5f5f5;
  transition: 0.4s ease;
  box-shadow: 0px 1px 20px 0px rgba(148, 148, 148, 0.38);
}

/* navbar end */

/* home start */
.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 110px;
  min-height: 100vh;
  background: var(--secondary);
  margin-bottom: 16px;
}
.home::before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(89, 89, 89, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .content {
  z-index: 888;
  color: #f5f5f5;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active {
  display: block;
}
.home .content h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.home .content h1 span {
  color: #f5f5f5;
}
.home .content a {
  color: #f5f5f5;
  background: #f05454;
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: 0;
  border-radius: 8px;
}
.home .content a:hover {
  background: #f5f5f5;
  color: #ce5959;
}
.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slidernavigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slidernavigation .navbtn {
  width: 12px;
  height: 12px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slidernavigation .navbtn.active {
  background: #ce5959;
}
.slidernavigation .navbtn:not(:last-child) {
  margin-right: 20px;
}
.slidernavigation .navbtn:hover {
  transform: scale(1.2);
}
.home .content p {
  margin-bottom: 65px;
  font-size: 1.2rem;
}
.imgslide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.imgslide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
/* home end */

/* menu start */
.menu {
  padding: 6rem 7% 1.4rem;
}
.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 5rem;
  color: #ce5959;
}
.menu h2::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #121212;
}
.menu h4 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}
.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  letter-spacing: 2px;
}
.menucard img {
  width: 200px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #dadada;
}
.menucard p {
  margin-bottom: 1.4rem;
}
.nmmenu {
  margin: 0.5rem 0;
}
.menu .inimenu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}
.menu .inimenu .menucard {
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  margin: 1rem;
}
.menucard:hover {
  box-shadow: 0px 0px 20px 2px rgba(148, 148, 148, 0.3);
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.menucard .jabatan {
  margin-top: 1rem;
}
.menucard a {
  color: #121212;
  font-size: 1.1rem;
  border-radius: 8px;
  opacity: 1;
}
.menucard a:hover {
  color: #f05454;
}
.menucard ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18;
  line-height: 1.6;
  margin-bottom: 0;
}
/* menu end */

/* blog start */
.blog {
  padding: 6rem 7% 1.4rem;
}
.blog h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 5rem;
  color: #ce5959;
}
.blog h2::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #121212;
}
.row {
  display: flex;
  margin: auto;
}
.blogimg {
  flex: 1 1 45rem;
}
.blogimg img {
  width: 100%;
}
.blogcontent {
  padding: 0 1rem;
  flex: 1 1 35rem;
}
.blogcontent h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.blogcontent p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
  text-align: justify;
}
/* blog end */

/* about start */
.about {
  padding: 6rem 7% 1.4rem;
  background: #f5f5f5;
}
.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #ce5959;
}
.about h2::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #121212;
}
.aboutus p {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
  text-align: center;
  color: #121212;
  justify-content: center;
}
.team h4 {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}
.team p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  letter-spacing: 2px;
}
.teamcard img {
  width: 200px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px #dadada;
}
.teamcard p {
  margin-bottom: 1.4rem;
}
.team .initeam {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}
.team .initeam .teamcard {
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
  margin: 1rem;
}
.teamcard:hover {
  box-shadow: 0px 0px 20px 2px rgba(148, 148, 148, 0.3);
  border-radius: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.teamcard .jabatan {
  margin: 0.5rem 0;
}
.nmteam {
  margin: 0.5rem 0;
}
.teamcard a {
  color: #121212;
  font-size: 1.1rem;
  border-radius: 8px;
  opacity: 1;
}
.teamcard a:hover {
  color: #f05454;
}
.sosmed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamcard ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18;
  line-height: 1.6;
  margin-bottom: 0;
}
.teamcard ul a {
  text-decoration: none;
}
.teamcard li {
  padding: 0 10px;
}
/* about end */

/* contact start */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 6rem 7% 1.4rem;
  background: #f5f5f5;
}

.form {
  flex-basis: 50%;
  max-width: 50%;
  margin-bottom: 50px;
}

.form h2 {
  text-align: center;
  font-size: 2rem;

  color: #f05454;
  margin-bottom: 3rem;
}
.form label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.form textarea {
  height: 200px;
  resize: none;
}

.form button {
  background-color: var(--secondary);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.form button:hover {
  background-color: #555;
}

.info {
  flex-basis: 45%;
  max-width: 45%;
}
.info h2 {
  text-align: left;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #333;
}
.info li {
  margin: 0.5rem 0;
}
/* contact end */

/* footer start */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: var(--font);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px;
  margin: 0;
}

.footer-distributed h3 span {
  color: var(--secondary);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--secondary);
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: var(--secondary);
}

.footer-links a:hover {
  color: var(--secondary);
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* footer end  */
/* media queirs */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 62%;
  }

  #ham-menu {
    display: inline-block;
  }

  .navbarmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--secondary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbarmenu.active {
    right: 0;
  }

  .navbarmenu a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbarmenu a:hover {
    color: var(--font);
  }
  .navbarmenu a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--font);
    transform-origin: 0 0;
  }
  .navbarmenu a:hover::after {
    transform: scaleX(0.2);
    transition: all 0.38s ease;
  }

  .menu p {
    font-size: 1.2rem;
  }
  .about p {
    font-size: 1.2rem;
  }
  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row form {
    padding-top: 0;
  }
  .contact .form-conten {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20rem !important;
  }
  .contact .form-conten .map iframe {
    height: 400px;
  }
  .about .about-us img {
    width: 500px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
